/* .header {
  background-color: gray;
  color: white;
  display: flex;
  height: 60px;
  align-items: center;
}

.logo {
  margin-left: 20px;
}

.user {
  margin-left: auto;
  display: flex;
}

.user p {
  margin-right: 15px;
} */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 32px;
  background-color: #fff;
  border-bottom: 1px solid red;
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 90px;
  height: 31px;
}

.username {
  margin-left: 16px;
}

.avatar {
  width: 32px;
  height: 32px;
}

.divider {
  margin: 0 20px;
  height: 36px;
}
