.item{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
position:relative;
}
.total{
    margin:0;
    margin-bottom: 20px;
    font-size:12px ;
    line-height: calc(14/12);
    letter-spacing: 0.04;
    font-weight: 400;
    color:#52555F

}
.category{
    margin-top: 4px;
    text-transform: uppercase;
    font-size:12px ;
    line-height: calc(14/12);
    letter-spacing: 0.02;
    font-weight: 400;
    color:#52555F
}
.btn{
    border: none;
    width: 59px;
    height: 46px;
    background-color: #F5F6FB;
    border-radius: 20px;
    transition: all .25s ease;
    &:hover,
    &:focus{
        background-color:#FFDAC0;
        & + .icon{
            fill:#FF751D;
        }
    }
}
.icon{
    position:absolute;
    pointer-events: none;
    top:23%;
   
}
