.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: transparent;
    z-index: 1;
}

.modal {
    position: relative;
    width: 280px;
    background: transparent;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 11px solid #162C5B;
    background: transparent;
    margin-left: 72px;
}

.rectangle {
    border-radius: 30px;
    background: linear-gradient(117.84deg, #1D346A 2.84%, #031634 67.28%);
    padding: 29px 24px 32px 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #fff;
}

.warning {
    font-size: 14px;
    line-height: 1.22;
    height: 38px;
}

.joke {
    font-size: 11.75px;
    line-height: 1.14;
    height: 33px;
}

@media screen and (min-width: 768px) {
    .modal {
        width: 288px;
    }

    .triangle {
        margin-left: 50px;
    }

    .rectangle {
        padding: 29px 29px 32px 29px;
    }

    .joke {
        font-size: 11.65px;
    }
}